/*Variables*/
/*Efecto Zooom de imagenes*/
.imageZoom {
  transition: 1s; }

.imageZoom:hover {
  transform: scale(1.1); }

/*Mixin*/
/*Header-----------*/
.header {
  background-color: #D6A692;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif; }
  .header h1 {
    justify-content: flex-start;
    font-size: 40px;
    font-weight: lighter; }
  .header nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around; }
  .header div {
    display: flex;
    justify-content: flex-end; }
  .header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: space-around;
    justify-content: space-around; }
  .header li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px; }
    .header li a {
      display: flex;
      text-decoration: none;
      font-size: 20px;
      font-weight: normal; }

/*Mains------------*/
.mainIndex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #efd9b4fa;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  padding-bottom: 10%; }
  .mainIndex span {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    text-align: center;
    justify-content: flex-end;
    width: 300px; }
  .mainIndex iframe {
    align-self: flex-end;
    padding-left: 3%; }
  .mainIndex section {
    background-image: url(../img/imagen3.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    height: auto; }
  .mainIndex div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80%;
    margin-top: 15%; }
  .mainIndex h2 {
    font-size: 30px; }
  .mainIndex p {
    font-size: 20px; }

.mainPresentacion, .mainInspiracion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efd9b4fa;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  padding-bottom: 10%; }
  .mainPresentacion section, .mainInspiracion section {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .mainPresentacion h2, .mainInspiracion h2 {
    font-size: 30px;
    padding-left: 3%; }
  .mainPresentacion p, .mainInspiracion p {
    font-size: 20px;
    padding-left: 3%; }

.mainProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efd9b4fa;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  padding-bottom: 10%; }
  .mainProducto section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  .mainProducto img {
    width: 420px;
    height: 470px;
    padding-top: 3%;
    border-radius: 4px; }

.mainContacto {
  background-image: url(../img/imagen4.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efd9b4fa;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  padding-bottom: 10%; }
  .mainContacto section {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 10%; }

/*Footer-----------------*/
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #4D6160;
  padding: 2%; }
  .footer span {
    color: #D6A692; }
  .footer a {
    text-decoration: none;
    color: #D6A692;
    margin-left: 2%; }

.bgBody {
  background-image: url(../img/imagenfondoindex.png); }

/*dispositivos extra chicos*/
@media only screen and (max-width: 768px) {
  /*header*/
  .header {
    flex-direction: row; }
    .header ul {
      flex-direction: column;
      align-items: flex-start; }
  /*mains*/
  .mainIndex {
    flex-direction: column; }
    .mainIndex section {
      height: auto; }
      .mainIndex section div {
        align-items: center;
        text-align: center; }
  .mainPresentacion, .mainInspiracion {
    flex-direction: column;
    height: auto; }
    .mainPresentacion section, .mainInspiracion section {
      height: auto;
      flex-direction: column;
      justify-content: space-between; }
      .mainPresentacion section img, .mainInspiracion section img {
        width: 100%;
        height: auto; }
  .mainProducto {
    text-align: center; }
    .mainProducto img {
      height: 100%;
      width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: center; }
  .mainPresentacion, .mainInspiracion {
    height: auto; }
    .mainPresentacion section, .mainInspiracion section {
      align-content: space-around;
      flex-direction: column;
      align-items: center; }
      .mainPresentacion section img, .mainInspiracion section img {
        height: auto;
        width: 50%; }
  .mainProducto {
    text-align: center; }
    .mainProducto img {
      height: 100%;
      width: 100%; } }
