
/*Variables*/
$bg-color-background-header: #D6A692;
$bg-color-background-main: #efd9b4fa;
$bg-color-background-footer: #4D6160;
$fs-h1: 40px;
$fs-h2: 30px;
$fontF: 'Montserrat', sans-serif;
$fontColorFooter: #D6A692;
/*Efecto Zooom de imagenes*/
.imageZoom{
    transition: 1s;
}
.imageZoom:hover{
    transform: scale(1.1);
}

/*Mixin*/
@mixin bgEstilo ($image, $position, $repeat){
    background-image:$image;
    background-position:$position;
    background-repeat:$repeat;
}
/*Header-----------*/
.header{
    background-color: $bg-color-background-header ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $fontF;
    h1{
        justify-content: flex-start;
        font-size: $fs-h1;    
        font-weight: lighter;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }
    div{
        display: flex;
        justify-content: flex-end;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-content: space-around;
        justify-content: space-around;
    }
    li{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 10px;
        a{
            display: flex;
            text-decoration: none;
            font-size: 20px;
            font-weight: normal;
        }
    }
}
/*Mains------------*/
.mainIndex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $bg-color-background-main;
    height: auto;
    font-family: $fontF;
    padding-top: 5%;
    padding-bottom: 10%;
    span{
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        text-align: center;
        justify-content: flex-end;
        width: 300px;
    }
    iframe{
        align-self: flex-end;
        padding-left: 3%;
    }
    section{
        @include bgEstilo(url(../img/imagen3.png),center center , no-repeat);
        display: flex;
        height: auto;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80%;
        margin-top: 15%;
    }
    h2{
        font-size: $fs-h2;
    }
    p{
        font-size: 20px ;
    }
}
.mainPresentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-background-main;
    height: auto;
    font-family: $fontF;
    padding-top: 5%;
    padding-bottom: 10%;
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h2{
        font-size: $fs-h2;
        padding-left: 3%;
    }
    p{
        font-size: 20px;
        padding-left: 3%;
    }
}
.mainInspiracion{
@extend .mainPresentacion;
}
.mainProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-background-main;
    height: auto;
    font-family: $fontF;
    padding-top: 5%;
    padding-bottom: 10%;
    section{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    img{
        width: 420px;
        height: 470px;
        padding-top: 3%;
        border-radius: 4px;
    }
}
.mainContacto{
    @include bgEstilo(url(../img/imagen4.png),center center , no-repeat);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-background-main;
    height: auto;
    font-family: $fontF;
    padding-top: 5%;
    padding-bottom: 10%;
    section{
        background-color:hsla(0, 0%, 100%, 0.692);
        border-radius: 5px;
        padding: 5%;
        margin-bottom: 5%;
        margin-top: 10%;
    }
}
/*Footer-----------------*/
.footer{
    display: flex;
    justify-content: flex-end;
    background-color:$bg-color-background-footer;
    padding: 2%;
    span{
        color: $fontColorFooter; 
    }
    a{
        text-decoration: none;
        color: $fontColorFooter;
        margin-left: 2%;
    }
}
.bgBody{
    background-image: url(../img/imagenfondoindex.png);
}
/*dispositivos extra chicos*/
@media only screen and(max-width:768px){
/*header*/
    .header{
        flex-direction: row;
        ul{
            flex-direction: column;
            align-items: flex-start;
        }
    }
/*mains*/
    .mainIndex{
        flex-direction: column;
        section{
            height: auto;
            div{
                align-items: center;
                text-align: center;
            }
        }
    }
    .mainPresentacion{
        flex-direction: column;
        height: auto;
        section{
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .mainProducto{
        text-align: center;
            img{
                height: 100%;
                width: 100%;
            }
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    .header{
        flex-direction: column;
        align-items: center;
    }
    .mainPresentacion{
        height: auto;
        section{
            align-content: space-around;
            flex-direction: column;
            align-items: center;
            img{
                height: auto;
                width: 50%;
            }
        }
    }
    .mainProducto{
        text-align: center;
            img{
                height: 100%;
                width: 100%;
            }
    }
}